@import url("https://fonts.googleapis.com/css2? family= Raleway:wght@700 & family= Roboto:wght@400;500;700;900 & display=swap");
body {
  margin: 0;
  color: var(--main-color);
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

.hide {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --third-color: #F5F4FA;
  --fourth-color: #F5F5F5;
  --accent-color: #ffffff;
  --adress-color: rgba(255, 255, 255, 0.6);
  --nav-color: #2196f3;
  --icons-color: #AFB1B8;
}

.logotype,
.link-footer:hover,
.link-footer:focus,
.link-footer.address:hover,
.link-footer.address:focus,
.link.studio.current,
.link.portfolio.current {
  color: var(--nav-color);
}

.heading-text,
.caption-text {
  color: var(--secondary-color);
}

.title,
.logo-footer {
  color: var(--accent-color);
}

.section-hero,
.footer {
  background-color: #2f303a;
}

.section-criterion,
.function-section {
  background-color: var(--accent-color);
}

.section-command,
.container.color {
  background-color: var(--third-color);
}

.subject,
.caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.button.current {
  color: var(--accent-color);
  background-color: var(--nav-color);
}

.button {
  display: inline-block;
  border: none;
  cursor: pointer;
}

.flex li:not(:last-child) {
  margin-right: 30px;
}

/* HEADER */
.header {
  border-bottom: 1px solid #ECECEC;
  background-color: var(--accent-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #000000;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.studio,
.portfolio,
.contacts,
.link-mail,
.link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio,
.portfolio,
.contacts {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.studio,
.portfolio {
  margin-right: 50px;
}

.contacts {
  margin-right: 318px;
}

.studio:hover,
.studio:focus,
.portfolio:hover,
.portfolio:focus,
.contacts:hover,
.contacts:focus {
  color: var(--nav-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.auth-nav {
  display: flex;
}

.auth-nav li:not(:last-child) {
  margin-right: 30px;
}

.envelope,
.smartphone {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.envelope {
  margin-right: 30px;
}

.icon-envelope {
  margin-right: 10px;
  padding: 0;
  fill: currentColor;
}

.icon-smartphone {
  margin-right: 10px;
  padding: 0;
  fill: currentColor;
}

.link-mail,
.link-tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.envelope a:hover,
.smartphone a:hover,
.envelope a:focus,
.smartphone a:focus {
  color: var(--nav-color);
  fill: #2196f3;
}

.studio::after,
.portfolio::after {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  left: 0;
  bottom: 0;
  margin-bottom: -1px;
  border-radius: 4px;
  background-color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio:hover .studio::after,
.studio:focus .studio::after,
.portfolio:hover .portfolio::after,
.portfolio:focus .portfolio::after {
  width: 100%;
}

.current::after {
  width: 100%;
}

/* HERO */
.section-hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-Img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-wrapper {
  margin: 0 auto;
  max-width: 696px;
}

.title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.button-hero {
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--accent-color);
  background-color: var(--nav-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  transition-property: color, background-color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  color: var(--main-color);
  background-color: var(--third-color);
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 250ms linear;
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.close-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  fill: var(--nav-color);
}

.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.title-modal {
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.lable,
.message::placeholder,
.message {
  display: block;
  align-self: flex-start;
  text-align: left;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.lable {
  margin-bottom: 4px;
  color: var(--secondary-color);
}

.field {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.field-input {
  width: 100%;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input:hover,
.field-input:focus {
  border-color: var(--nav-color);
}

.field-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input:hover + .field-icon,
.field-input:focus + .field-icon {
  fill: #2196f3;
}

.message {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.message:hover,
.message:focus {
  border-color: var(--nav-color);
}

.message::placeholder,
textarea {
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  resize: none;
}

.button-modal {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  border-radius: 4px;
  color: var(--accent-color);
  background-color: var(--nav-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}

.privacy {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 13px;
  margin-bottom: 30px;
}

.privacy-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-icon {
  opacity: 0;
  fill: var(--accent-color);
  border-radius: 2px;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-input:checked + .privacy-wrapp {
  border: transparent;
  background-color: var(--nav-color);
}

.privacy-input:checked + .privacy-wrapp .privacy-icon {
  opacity: 1;
}

.privacy-text {
  font-size: 14px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.privacy-link {
  color: var(--nav-color);
  text-decoration: underline;
}

/* SECTION-CRITERIOS */
.section-criterion .container,
.flex.criterion {
  display: flex;
}

.heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.heading-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.criterion-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--third-color);
}

.criterion-list:not(:last-child) {
  margin-right: 30px;
}

/* SECTION-FUNCTIONS */
.function-section {
  padding-top: 0;
}

.function-section .flex {
  display: flex;
}

.card {
  width: 370px;
}

.caption {
  margin-bottom: 50px;
}

.function-item {
  position: relative;
}

.function-text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  font-family: var(--main-font);
  font-style: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* SECTION-COMMAND */
.section-command {
  background-color: var(--third-color);
}

.section-command .flex {
  display: flex;
}

.caption-list {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.caption-text,
.caption-list {
  text-align: center;
}

.caption-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.card-caption {
  display: block;
  margin-bottom: 30px;
}

.border-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--accent-color);
}

.networks-list {
  display: flex;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.networks-list li:not(:last-child) {
  margin-right: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--accent-color);
  fill: var(--icons-color);
  transition-property: fill, background-color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus {
  fill: var(--accent-color);
  background-color: var(--nav-color);
}

/* CLIENTS */
.section-clients {
  background-color: var(--accent-color);
}

.clients-list {
  display: flex;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: var(--icons-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.company-logo {
  padding: 0;
  width: 106px;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients:hover,
.clients:focus {
  fill: var(--nav-color);
  border: 1px solid var(--nav-color);
}

/* FOOTER */
.footer .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.list.footer {
  margin-top: 20px;
}

.list.footer li:not(:last-child) {
  margin-bottom: 9px;
}

.link-footer {
  font-family: var(--main-font);
  color: var(--adress-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer.address {
  color: var(--accent-color);
}

.info {
  margin-right: 94px;
}

.footer-networks .text,
.footer-form .text {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-networks {
  margin-right: 93px;
}

.footer-networks .networks-list {
  padding: 0;
}

.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--accent-color);
  transition-property: fill, background-color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer:hover,
.icon-footer:focus {
  fill: var(--accent-color);
  background-color: var(--nav-color);
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-input {
  display: block;
  align-self: flex-start;
  text-align: left;
  width: 358px;
  height: 50px;
  padding: 14px 15px;
  margin-right: 12px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:hover,
.footer-input:focus {
  border-color: var(--nav-color);
}

.form .text {
  display: block;
  padding: 0;
  text-align: left;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  border-radius: 4px;
  background-color: var(--nav-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
}

.button-footer {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  background-color: var(--nav-color);
}

/* PORTFOLIO */
.project-section {
  background-color: var(--accent-color);
}

.list.button-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.button-projects li:not(:last-child) {
  margin-right: 8px;
}

.button-project {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--third-color);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.button-project:hover,
.button-project:focus {
  color: var(--accent-color);
  background-color: var(--nav-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list.projects li {
  flex-basis: calc((100% - 60px) / 3);
}

.list.projects li:nth-child(3n) {
  margin-right: 0;
}

.list.projects li:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.picture {
  display: block;
  width: 370px;
}

.border-picture {
  padding: 19px 23px;
  border: 1px solid #eeeeee;
}

.border-picture {
  border-top: none;
}

.summary {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.summary-text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.project {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-navigation {
  position: relative;
  overflow: hidden;
}

.picture:hover:after {
  transform: translateY(0);
}

.text-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover .text-navigation {
  transform: translate(0);
}

.text-navigation .text {
  padding: 63px 24px;
  color: var(--accent-color);
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */