.header {
  border-bottom: 1px solid #ECECEC;
  background-color: var(--accent-color);

  &__box {
  display: flex;
  align-items: center;
  justify-content: center;
  }
}

.site-nav {
  display: flex;
  align-items: center;

  &__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:not(:last-child) {
  margin-right: 50px; 
  }

  &__link:last-child {
  margin-right: 318px;
  }

  &__link:hover,
  &__link:focus {
    color: var(--nav-color);
  }

  &__link--current {
    color: var(--nav-color);
  }

  &__link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  left: 0;
  bottom: 0;
  margin-bottom: -1px;
  border-radius: 4px;
  background-color: #2196f3;
  
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  } 

  &__link--current::after {
  width: 100%;
  }

  &__link:hover &__link::after,
  &__link:focus &__link::after {
  width: 100%;
}
}

.auth-nav {
  display: flex;
  align-items: center;

  &__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

  &__item:not(:last-child) {
  margin-right: 30px;
}

  &__item:hover,
  &__item:focus {
  color: var(--nav-color);
  fill: var(--nav-color);
}

  &__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

  &__icon {
  margin-right: 10px;
  padding: 0;
  fill: currentColor;
}

}
